.env
lambdas/secrets.json
lambdas/build/*
lambdas/*.zip
lambdas/.deploy_cache/

# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class
lambdas/test_bedrock_format.py
lambdas/src/policy_mate_lambda.egg-info/*
lambdas/pre/compliance.json
backup/*
lambdas/agent_response.txt
lambdas/tests/analysis_result.json